* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

::placeholder {
    color: #afafaf;
    font-size: 22px;
}

.container {
    width: 100%;
    font-family: sans-serif;

    .slider {
        background-image: url('/assets/img/fon.jpg');
        background-size: cover;
        width: 100%;
        height: 483px;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .menu {

            width: 100%;
            height: 60px;
            background-color: #fff;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            background: rgba(245, 246, 247, 0.3);

            .menu__center {
                width: 1024px;
                height: 60px;
                display: flex;
                flex-flow: row wrap;
                align-content: center;
                justify-content: space-between;

                .menu__lt {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;

                    .menu__logo {
                        background-image: url('/assets/img/logo.svg');
                        background-size: cover;
                        background-position: center;
                        width: 30px;
                        height: 34px;
                        justify-self: flex-start;
                        margin-right: 10px;
                    }

                    .menu__text {
                        font-size: 27px;
                        color: #fff;
                        text-transform: uppercase;
                        justify-self: flex-start;
                    }
                }

                .menu__gumb {
                    width: 40px;
                    height: 28px;
                    background-image: url('/assets/img/menu_gumb.svg');
                }
            }
        }

        .slider__data {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
            height: 75%;
            width: 1024px;

            .slider__content {
                max-width: 395px;
                margin-right: 45%;

                .slider__p {
                    font-size: 27px;
                    text-align: center;
                    margin-bottom: 35px;
                }

                .slider__form {
                    position: relative;
            

                    .slider__input {
                        width: 100%;
                        padding: 12px 5px;
                        border: none;
                        color: #afafaf;
                        font-size: 16px;
                    }

                    .slider__submit {
                        width: 43px;
                        height: 42px;
                        background-image: url('/assets/img/loupa.svg');
                        background-size: contain;
                        background-position: 2px 0px;
                        border: none;
                        position: absolute;
                        right: -15px;
                        top: 0px;
                    }

                    .slider__submit:hover {
                        background-color: rgb(162, 161, 168);
                        transition: .5s ease-in;
                    }
                }
            }
        }
    }

    .registerNow {
        height: 35vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;

        .registerNow__p {
            color: #8b8b8b;
            font-size: 37px;
            margin-right: 30px;
        }

        .registerNow__button {
            padding: 15px 32px;
            color: #ffffff;
            background-color: #8fcddc;
            border: none;
            font-size: 37px;
        }

        .registerNow__button:hover {
            background-color: #6fc3d8;
            transition: .2s ease-in;
        }
    }

    .browseByCategory {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        color: #636363;
        margin-bottom: 70px;

        .browseByCategory__h3 {
            font-size: 23px;
            margin-top: 40px;
            margin-bottom: 30px;
            text-align: center;
        }

        .browseByCategory__lists {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 100%;

            .browseByCategory__list {
                font-size: 15px;
                list-style-type: none;
                color: #636363;
                line-height: 1.5;
            }

            .browseByCategory__list li:hover {
                color: #a19e9e;
                cursor: pointer;
                transition: .2s ease-in;
            }

        }
    }

    .Copyright {
        padding: 13px 0;
        text-align: center;
        background-color: #484242;

        .Copyright__p {
            font-size: 15px;
            color: #949292;
        }
    }
}

@media screen and (min-width: 320px) and (max-width:599px) {
    .container {
        width: 100%;

        .slider {

            .menu {
                .menu__center {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .slider__data {
                height: 70vh;
                padding-left: 10px;
                padding-right: 10px;

                .slider__content {
                    margin-right: 0;
                    width: 75%;

                    .slider__form {
                        .slider__input {
                            width: 100%;
                        }
                    }
                }
            }

        }

        .registerNow {
            text-align: center;

            .registerNow__p {
                margin-right: 0;
            }
        }

        .browseByCategory {
            display: flex;
            flex-flow: row wrap;
            color: #636363;
            margin-bottom: 5px;

            .browseByCategory__h3 {
                font-size: 1.5rem;
                font-weight: 600;

            }

            .browseByCategory__lists {
                display: flex;
                flex-flow: column wrap;
                align-content: center;

                .browseByCategory__list {
                    margin-bottom: 20px;

                    li {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width:950px) {
    .container {
        .slider {
            .menu{
                .menu__center{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .slider__data {
                .slider__content {
                    width: 65%;
                    margin-right: 0px;
                }
            }
        }
        .registerNow{
            padding-bottom: 15px;
        }
        .browseByCategory{
            .browseByCategory__lists{
                .browseByCategory__list{
                    margin-bottom: 10px;
                    margin-right: 10px;
                    li{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 951px){
    .menu__center{
        margin-left: 12px;
        margin-right: 12px;
    }
}